node_modules/
dist/
dist-electron/
src-tauri/gen/
src-tauri/target/
build/icons/32x32.png
build/icons/64x64.png
build/icons/128x128.png
build/icons/128x128@2x.png
build/icons/StoreLogo.png
build/icons/Square*Logo.png
build/icons/android/
build/icons/ios/
.vite/
coverage/
release/
*.log
*.local
vendor/mpv/*
!vendor/mpv/.gitkeep
